{% extends 'base.html.twig' %}

{% block body %}

	<a href="{{ url('home') }}">Wróć</a>

	<br><br>

	{{ form_start(clinicForm) }}

		{{ form_label(clinicForm.name, 'Nazwa kliniki : ') }}
		{{ form_widget(clinicForm.name) }}
		{{ form_errors(clinicForm.name) }}

		<br><br>

		{{ form_label(clinicForm.patients, 'Pacjenci :') }}
		{{ form_errors(clinicForm.patients) }}

		<ul>
			{% for patient in clinicForm.patients %}
			    <li>
			        {{ form_errors(patient) }}
			        {{ form_widget(patient) }}
			    </li>
			    <br>
			{% endfor %}

			{% for error in app.session.flashbag.get('error') %}
				<li>
					{{ error }}
				</li>
			{% endfor %}
		</ul>

		<input type="submit" value="Zapisz" />

	{{ form_end(clinicForm) }}

{% endblock %}
